%h1 Show views

-if @pic.image.attached?
 = image_tag(@pic.image, style: "width: 200px")
  


%h1= @pic.title
%p= @pic.description


%p
- if current_user
 Pic by
 = current_user.email

%br
- if current_user
 = link_to 'Edit', edit_pic_path
 = link_to 'Back', root_path
 = button_to "Destroy this product", @product, method: :delete